.searchblock-component {
  box-sizing: border-box;;
  float: left;
  width: 50%;
  padding: 5px;
  border: 1px dashed #f00;
  input {
    color: white;
    font-family: Courier New, Courier, monospace;
    border: 1px dotted #889;
    background-color: #222;
    margin: 5px 0px;
    padding: 3px;
    &:active, &:focus {
      border-color: #7F7FE5;
      outline: none;
    }
  }
}
